USE [master]
GO
/****** Object:  Database [PRJ321_DE140062]    Script Date: 3/30/2020 9:38:48 PM ******/
CREATE DATABASE [PRJ321_DE140062]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRJ321_DE140062', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PRJ321_DE140062.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRJ321_DE140062_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PRJ321_DE140062_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRJ321_DE140062].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRJ321_DE140062]
GO
/****** Object:  Table [dbo].[Magazine_DE140062]    Script Date: 3/30/2020 9:38:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Magazine_DE140062](
	[MazID] [nvarchar](50) NOT NULL,
	[MagazineTitle] [nvarchar](50) NOT NULL,
	[Publisher] [nvarchar](50) NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_Magazine_DE140062] PRIMARY KEY CLUSTERED 
(
	[MazID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Magazine_DE140062] ([MazID], [MagazineTitle], [Publisher], [Price]) VALUES (N'M001', N'Desktop Java Application', N'IT House', 12.5)
INSERT [dbo].[Magazine_DE140062] ([MazID], [MagazineTitle], [Publisher], [Price]) VALUES (N'M002', N'Web programming with JSP', N'Youth', 8.9)
INSERT [dbo].[Magazine_DE140062] ([MazID], [MagazineTitle], [Publisher], [Price]) VALUES (N'M003', N'Java OOP', N'FPT', 10)
USE [master]
GO
